body {
    background-color: #BCEAD5;
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0 auto;
    margin-top: 0;
    width: 15%;
}

h2 {
    margin: 0 auto;
    margin-top: 0;
    width: 15%;
}

p {
    font-family: 'Lato Light', sans-serif;
}

.top-container {
    position: relative;
    padding-top: 100px;
}

.middle-container {
    position: relative;
    padding-top: 50px;
}

.bottom-container {
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.footer-link {
    padding: 5px;
}